
@{
    ViewBag.Title = "ChiefMenu";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Inventario- Detalle - Avro ERP</title>
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="Index.htm">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Contructora
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="Rent">Arriendo</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="Change">Cambio</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="Finished">Termino</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="ConstructionIncome">Nueva Constructora</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="IncomeWork">Nueva Obra</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Herramientas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="Inventory">Inventario</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Documentos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="DeliveryGuide">Guia de despacho.</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="material-icons">
                    account_circle
                </span>
                <span class="navbar-text">
                    Bienvenido **********
                </span>

                <a class="navbar-brand pl-2 " href="Login.html">Cerrar sesion</a>

            </div>
        </div>
    </nav>
    <!-- form -->
    <div class="text-center bg-secondary p-5">
        <div class="container bg-light p-5">
            <div class="form-row">
                <div class="form-group col-md-12 text-center">
                    <span class="material-symbols-outlined display-1">
                        library_add_check
                    </span>
                    <h2>Detalle</h2>
                    <h3>Maquina 1</h3>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <p>Historial en Bodega</p>
                    <table class="table" border="1">
                        <thead>
                            <tr>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha ingreso</th>
                                <th scope="col">Observacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                            <tr>
                                <td>*******</td>
                                <td>*******</td>
                                <td>*******</td>

                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-md-4 offset-md-4">
                    <p>Historial en obras</p>
                    <table class="table" border="1">
                        <thead>
                            <tr>
                                <th scope="col">Obra</th>
                                <th scope="col">Fecha ingreso</th>
                                <th scope="col">Fecha termino</th>
                                <th scope="col">Motivo Termino</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                            <tr>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                                <td>********</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="btn btn-secondary" href="Inventario.html" role="button">Volver</a>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid align-self-end">
        <div class="row p-5 pb-2 bg-dark text-white">

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Avro</p>
                <p class="text-secondary">Renca, Santiago.</p>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Servicio</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="Rent">Arriendo</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="Change">Cambio</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="Finished">Termino</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Administracion</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="Inventory">Inventario</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="DeliveryGuide">Guia de despacho</a>
                </div>

            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Redes Sociales</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Facebook</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Tweeter</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Instragram</a>
                </div>
            </div>

            <div class="col-xs-12 pt-3">
                <p class="text-white text-center">Copyright - All rights reserved © 2022</p>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
